
<div class="search-box">
    <input type="text" placeholder="Buscar..."/>
    <button>Buscar</button>
</div>
<ul class="main-list">
    <li>
        <h3>Básico</h3>
        <ul class="items">
            <li><a href="/">Estilos</a></li>
            <li><a href="/">Templates</a></li>
        </ul>
    </li>
    <li>
        <h3 href="/">RxJs</h3>
        <ul class="items">
            <li><a href="/">Formularios</a></li>
            <li><a href="/">Envios</a></li>
        </ul>
    </li>
    <li>
        <h3>Firebase</h3>
        <ul class="items">
            <li><a href="/">Listado</a></li>
            <li><a href="/">Actualizacion</a></li>
        </ul>
    </li>
</ul>